/* CSS files add styling rules to your content */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #141e30, #2f80ed);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  margin: 5%;
  background: white;
  min-height: 80vh;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: row;
}

.circle1 {
  top: 5%;
  right: 1%;
}

.circle2 {
  bottom: 5%;
  left: 1%;
}

.circle3 {
  height: 30rem !important;
  width: 30rem !important;
  top: -40%;
  left: -10%;
}

.circle4 {
  height: 20rem !important;
  width: 20rem !important;
  bottom: -10%;
  right: 25%;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.dashboard {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.dashboard .user {
  background: #fff;
  overflow: hidden;
  text-align: center;
  padding: 25px 0px;
  box-shadow: 0 2px 1600px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 2rem;
}

.dashboard .intro {
  padding: 20px;
}

.dashboard .user img {
  width: 60px;
  height: 60px;
}

.dashboard .user h3 {
  font-size: 30px;
  font-weight: 800;
}

.dashboard .links .intro p{
  line-height: 1.5rem;
}

.dashboard .links {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dashboard .links h3{
  padding-top: 5%;
}

.games {
  flex: 0 0 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.games .status {
  text-align: center;
}

#startBtn, #stopBtn {
  outline: none;
  border-radius: 0;
  padding: 0.4rem 1rem;
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  position: static;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.4;
  transition: all 0.3s ease-in-out;
}
#startBtn:hover, #stopBtn:hover {
  background: #252525;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}

.glass .dashboard button {
  outline: none;
  border-radius: 0;
  padding: 0.4rem 1rem;
  background: #fff;
  border: 1px solid #000;
  position: static;
  transition: all 0.3s ease-in-out;
}

.glass .games button {
  outline: none;
  border-radius: 0;
  padding: 0.4rem 1rem;
  background: #fff;
  border: 1px solid #000;
  position: static;
}

.glass .dashboard button:hover, .glass .games button:hover {
  background: #252525;
  cursor: pointer;
}

#gameBtnsContianer > button {
  width: 150px;
  height: 150px;
  margin: 2px;
  border-radius: 6px;
}

.hidden {
  display: none;
}

#emoji1, #emoji2, #emoji3 #emoji4
#emoji5, #emoji6, #emoji7, #emoji8 {
  font-size: 100px;
}

#Btn1 {
  background: #7075eb;
}

#Btn1:active,
#Btn1.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fpiano.png?v=1616294594844');
  background-size: cover;
}

#Btn2 {
  background: #ff5353;
}

#Btn2:active,
#Btn2.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fdrum.png?v=1616294594534');
  background-size: cover;
}

#Btn3 {
  background: #ff9f3e;
}

#Btn3:active,
#Btn3.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fsaxophone.png?v=1616294594534');
  background-size: cover;
}

#Btn4 {
  background: #d078e1;
}

#Btn4:active,
#Btn4.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Ftrumpet.png?v=1616294594913');
  background-size: cover;
}

#Btn5 {
  background: #fff45d;
}

#Btn5:active,
#Btn5.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fguitar.png?v=1616294594534');
  background-size: cover;
}

#Btn6 {
  background: #3ffff2;
}

#Btn6:active,
#Btn6.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fviolin.png?v=1616294594808');
  background-size: cover;
}

#Btn7 {
  background: #b4f6eb;
}

#Btn7:active,
#Btn7.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fairplane.png?v=1616294594620');
  background-size: cover;
}

#Btn8 {
  background: #f3c0d8;
}

#Btn8:active,
#Btn8.lit {
  background: url('https://cdn.glitch.com/b87cfcc3-2b1b-4b16-ae90-6a593187013a%2Fbicycle.png?v=1616294594946');
  background-size: cover;
}

@media only screen and (max-width: 640px) {
  .glass {
    flex-direction: column;
  }
  #gameBtnsContianer > button {
    width: 100px;
    height: 100px;
    margin: 2px;
  }
  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    height: 10rem !important;
    width: 10rem !important;
  }
}
